<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/responsiveness.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <ul class="follow-list">
      <li>
        <img class="follow-img" src="/uploads/follow.png" alt="" />

        <div class="follow-content">
          <span class="follow-name">Emma Anderson</span>
          <span class="follow">Follow</span>
          <p class="follow-txt">Followed by Isabella</p>
        </div>
      </li>
      <p>Suggested for you</p>
      <li>
        <img class="follow-img" src="/uploads/follow-2.png" alt="" />

        <div class="follow-content">
          <span class="follow-name">olivia Tayloe</span>
          <span class="follow">Follow</span>
          <p class="follow-txt">Followed by Mia</p>
        </div>
      </li>
      <li>
        <img class="follow-img" src="/uploads/follow-3.png" alt="" />

        <div class="follow-content">
          <span class="follow-name">Sophia Mitchell</span>
          <span class="follow">Follow</span>
          <p class="follow-txt">Followed by Ava</p>
        </div>
      </li>
      <li>
        <img class="follow-img" src="/uploads/follow-4.jpg" alt="" />

        <div class="follow-content">
          <span class="follow-name">Mia Wilson</span>
          <span class="follow">Follow</span>
          <p class="follow-txt">Followed by Emma</p>
        </div>
      </li>
      <li>
        <img class="follow-img" src="/uploads/follow-5.jpg" alt="" />

        <div class="follow-content">
          <span class="follow-name">Amelia Clark</span>
          <span class="follow">Follow</span>
          <p class="follow-txt">Followed by Evely</p>
        </div>
      </li>
      <li>
        <img class="follow-img" src="/uploads/follow-6.png" alt="" />

        <div class="follow-content">
          <span class="follow-name">Harper Turner</span>
          <span class="follow">Follow</span>
          <p class="follow-txt">Followed by Sophia</p>
        </div>
      </li>
      <%- include("footer") %>
    </ul>
  </body>
</html>
