<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Theme Switcher</title>
    <link rel="stylesheet" href="styles/header.css" />
    <link rel="stylesheet" href="styles/responsiveness.css" />
  </head>
  <style>
    /* Style for active links */
    .icons a.active {
      font-weight: bold; /* Keeps bold for link */
      text-decoration: none; /* Removes underline from the link */
    }

    /* Specific styling for the text (span) inside active links */
    .icons a.active span {
      color: rgb(168, 168, 168); /* Changes only the text color to red */
    }
  </style>

  <body>
    <div class="theme-switcher">
      <button id="lightThemeBtn"><i class="fa-regular fa-moon"></i></button>
      <button id="darkThemeBtn"><i class="fa-solid fa-moon"></i></button>
    </div>
    <br /><br />
    <h1 class="web-title title_1">BlogTrends</h1>
    <br />

    <div class="navbar-toggle-mobile">
      <button id="toggleIconsBtnMobile">
        Menu
        <i class="fas fa-bars"></i>
      </button>
    </div>

    <br /><br /><br /><br /><br />
    <div id="navbarModal" class="modal hidden">
      <div class="modal-content">
        <button id="closeModalBtn">&times;</button>
        <br />
        <ul class="icons">
          <li>
            <a href="/" data-ajax data-container="content" class="active">
              <i class="fas fa-home"></i> <span class="nav-item">Home</span>
            </a>
          </li>
          <li>
            <a href="/newItem" data-ajax data-container="content">
              <i class="far fa-plus-square"></i>
              <span class="nav-item">Post</span>
            </a>
          </li>
          <li>
            <a href="/new" data-ajax data-container="content">
              <i class="far fa-plus-square"></i>
              <span class="nav-item">Story</span>
            </a>
          </li>
          <li>
            <a href="/saved-items" data-ajax data-container="content">
              <i class="fas fa-bookmark"></i>
              <span class="nav-item">Saved</span>
            </a>
          </li>
          <!-- <li>
            <a href="/search">
              <i class="fas fa-search inavailable__icon"></i>
              <span class="nav-item">Search</span>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/preventReloading.js"></script>
  </body>
</html>
