<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This is a dynamic Blog application! Where you can create a post, story, and do CRUD operations."
    />
    <title>Search Section</title>
    <link rel="stylesheet" href="/styles/search.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container search__container">
      <h1>Search Section</h1>

      <div class="search-results">
        <p>This section is under construction. Stay tuned for updates!</p>
        <a href="/">Back to Home</a>
      </div>
    </div>
  </body>
</html>
